<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.demo.mapper.ZzTempMapper">
    <update id="updateSourceData">
        update ${tableName}
        set push_to_country = '0'
        where pxhsjhm = #{pxhsjhm}
    </update>

    <update id="updateSourceDataList">
        update ${tableName} set push_to_country = '0' where pxhsjhm in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item.fxrysjh}
        </foreach>
    </update>
</mapper>